[submodule "native-gateway-unity3d"]
	path = native-gateway-unity3d
	url = https://github.com/vedi/native-gateway-unity3d-android.git
[submodule "native-gateway-common"]
	path = native-gateway-common
	url = https://github.com/vedi/native-gateway-common-android.git
[submodule "flurry-bunch"]
	path = flurry-bunch
	url = https://github.com/vedi/flurry-bunch-android.git
[submodule "share-bunch"]
	path = share-bunch
	url = https://github.com/vedi/share-bunch-android.git
[submodule "native-gateway-cocos2dx"]
	path = native-gateway-cocos2dx
	url = https://github.com/vedi/native-gateway-cocos2dx-android.git
[submodule "cocos2dx"]
	path = cocos2dx
	url = https://github.com/vedi/cocos2dx-gradle-wrapper.git
